.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tournament-list {
    text-align: center;
    width: 20%;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tournament-names {
    list-style: none;
    padding: 0;
}

.tournament-names li {
    margin-bottom: 10px;
    cursor: pointer;
}

.tournament-names li:hover {
    color: #007bff;
}